.section-about-me {
    background-color: var(--white-color);
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1rem;
    color: var(--black-color);
    gap: 1.5rem;
    padding: 1rem;
}

.section-about-me > h2 {
    max-width: var(--max-width);
    background: var(--linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    width: auto;
    font-size: clamp(1.5rem, 2vw, 2rem);
    text-align: center;
    height: 3rem;
    font-family: var(--font-family-heading);
    font-weight: 400;
    font-style: normal;
}

.section-about-me .container-about-me-grid {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
}

.section-about-me .container-about-me-grid .about-me-item {
    width: 100%;
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;    
    place-content: center;
    gap: 1rem;
    align-items: center;
}

.section-about-me .container-about-me-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-about-me .container-about-me-img > img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.section-about-me .container-about-me-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;
    font-size: clamp(0.8rem, 2vw, 1rem);
}

.section-about-me .container-about-me-info:nth-child(1) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1.5rem;
    font-size: clamp(0.8rem, 2vw, 1rem);
}

.section-about-me .container-about-me-info > h3 {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}

.container-contact-reds {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    font-size: clamp(0.8rem, 2vw, 1rem);
}

.container-contact-reds a {
    color: black;
    font-size: clamp(0.9rem, 2vw, 1.5rem);
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.container-contact-reds a:hover {
    transform: translateY(-5px);
    color: var(--secondary-color);
}

.container-info-contact-info {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.8rem, 2vw, 1rem);
}

.container-info-contact h3 {
    font-size: clamp(1rem, 5vw, 1.7rem);
    font-weight: 600;
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}
.container-info-contact-info .container-contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    font-size: clamp(0.8rem, 2vw, 1rem);
} 

.container-info-contact .container-contact i {
    color: var(--secondary-color);
    font-size: clamp(0.9rem, 2vw, 1.5rem);
}

@media (max-width: 768px) {
    .section-about-me .container-about-me-grid .about-me-item {
        grid-template-columns: 1fr;
    }

    .section-about-me .container-about-me-grid .about-me-item:nth-child(2) {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column-reverse;
    }
}
