.container-card-product {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.842);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    overflow-y: auto;
}

.container-card-product .container-product-card {
    width: 90%;
    height: 80%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
    border: 1px solid var(--secondary-color);
}

.container-card-product .container-product-card > i {
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1.5%;
    right: 0.5%;
    cursor: pointer;
}

.container-card-product .container-product-card .container-img-product-card {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-card-product .container-product-card .container-img-product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-card-product .container-product-card .container-info-card {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    padding: 0 1rem;
}

.container-card-product .container-product-card .container-info-card > h2 {
    width: auto;
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: clamp( 1rem, 2vw, 2rem);
    background: var(--linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: bold;
    background-clip: text;
}

.container-card-product .container-product-card .container-info-card > p {
    width: 100%;
    height: 5%;
    font-size: clamp(0.7rem, 2vw, 0.9rem);
    line-height: 0.5rem;
    color: var(--secondary-color);
}

.container-card-product .container-product-card .container-info-card > p > strong {
    font-weight: 100;
    color: var(--three-color);
}

.container-card-product .container-product-card .container-info-card .container-about-product {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
}

.container-card-product .container-product-card .container-info-card .container-about-product > p:nth-child(1) {
    width: 100%;
    height: 10%;
    font-size: clamp(0.9rem, 2vw, 1rem);
    font-weight: 500;
}

.container-card-product .container-product-card .container-info-card .container-about-product > p:nth-child(2) {
    width: 100%;
    font-weight: 100;
    font-size: clamp(0.7rem, 2vw, 1rem);
    overflow-y: auto;
    color: var(--white-color);
    height: auto;
    max-height: 75%;
}

.container-card-product .container-product-card .container-info-card button {
    width: 80%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: transparent;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    cursor: pointer;
    font-size: clamp(0.8rem, 2vw, 1rem);
    transition: all 0.3s ease-in-out;
    align-self: center;
}

.container-card-product .container-product-card .container-info-card button:hover {
    color: var(--three-color);
    border: 2px solid var(--three-color);
}


@media screen and (width <= 768px) {

    .container-card-product {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 15;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-card-product .container-product-card {
        height: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        position: relative;
        gap: 0.5rem;
    }

    .container-card-product .container-product-card > i {
        background-color: var(--secondary-color);
        color: var(--white-color);
        top: 0;
        right: 0;
        width: 2rem;
        height: 2rem;
    }

    .container-card-product .container-product-card .container-img-product-card {
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-card-product .container-product-card .container-img-product-card > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container-card-product .container-product-card .container-info-card {
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1.5rem;
        padding: 0;
    }

    .container-card-product .container-product-card .container-info-card > h2 {
        width: 100%;
        height: 2.5rem;
        border: none;
        
    }

    .container-card-product .container-product-card .container-info-card > p:nth-child(2),
    .container-card-product .container-product-card .container-info-card > p:nth-child(3) {
        display: none;
    }
    
}